<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="MyMapper">
    <select id="selectRank" resultMap="rankItem">
        select t.user_id, score_sum
        from (
                 select user_id, sum(score) as score_sum
                 from match
                 group by user_id
                 order by score_sum
             ) t
                 join user on user_id = t.user_id
    </select>

    <resultMap id="rankItem" type="monster.entity.RankItem">
        <result property="score" column="score_sum"/>
        <association property="user" javaType="monster.entity.User">
            <result property="id" column="user_id"/>
            <result property="name" column="name"/>
        </association>
    </resultMap>
</mapper>